.magazine {
    width 218px
  &__title {
    font-family "Roboto Condensed", sans-serif
    font-size 18px
    font-weight 700
    text-transform uppercase
    text-align center
    position relative
    top -6px
    z-index 200
    &-wr {
      position relative
      padding 0 20px
    }
  }
  &__img {
    width 178px
    height 225px
    &_title {
      position absolute
      display inline-block
      width 222px
      height 274px
      left -4px
      top -21px
    }
  }
  &__link {
  }
}