.Nav-Bar-Header {
  display flex
  position relative
  justify-content space-between
  align-items center


  &__logo-img {
    position absolute
    left 50%
    top 50%
    transform translate(-50%,-50%)
  }
  &__search {
    margin-left auto
    +do(640px){
    margin-right 10px
  }
  }
  &__logo {
    +do(370px){
    display none
    }
  }
  &__img {
  }
  +do(640px){
  margin 0
}
  &__authorization {
    +do(640px) {
    display none
    }
    &-img {
      position absolute
      right 80px
      top 50%
      transform translateY(-50%)
    }
  }
}

