.news {
  +do(650px) {
    margin 0 15px
  }
  &__item {
    position relative
    display inline-block
    color #ffffff
    +do(1050px) {
      left 50%
      transform translateX(-50%)
    }

  }
  &__img {

  }
}