.news {
  background url("../img/content/news.png") no-repeat center
  height 420px
  +do(800px){
    background url("../img/content/news.png") no-repeat left
    height 413px
  }
  +do(650px) {
    margin 0 15px
  }
  &__item {
    position relative
    height 100%
    color #ffffff
    +do(1050px) {
      left 50%
      transform translateX(-50%)
    }

  }
  &__img {

  }
}