.search-sb {
  font-family "Roboto Condensed", sans-serif
  font-size 18px
  text-align left
  padding 20px
  background-color #ececec
  &__title {
    font-weight 700
    text-transform uppercase
    margin-bottom 12px
  }
  &__text {
    margin-bottom 10px
  }
  &__input {
    width 100%
    &-block {
      display flex
    }
    &::placeholder {
      font-family "Roboto Condensed", sans-serif
      font-size 18px
    }
    &[type="text"] {
      font-family "Roboto Condensed", sans-serif
      font-size 18px
      text-align center
      }
  }
  &__img {
    height 100%
  }
}