.sidebar-picture {
  width 195px
  height 295px
  display flex
  flex-wrap wrap
  justify-content space-between
  margin-top 17px
  margin-bottom 10px
  &__item {
    background-color #000000
    &:nth-child(3) {
      margin-top 1px
    }
    &:nth-child(4) {
      margin-top 1px
    }
  }
  &__text {
    color #ffffff
    font-family "PT Sans Narrow", sans-serif
    font-size 18px
    text-align center
  }
}