<section class="footer">
    <div class="footer__wrapper">
    <div class="footer-info">
        <div class="footer-info__title"></div>
        <ul class="footer-info-list">
            <li class="footer-info-list__item"><a href="" class="footer-info-list__link">Девушки Playboy</a></li>
            <li class="footer-info-list__item"><a href="" class="footer-info-list__link">Журнал</a></li>
            <li class="footer-info-list__item"><a href="" class="footer-info-list__link">Новости</a>
                <a href="" class="footer-info-list__link">Интервью</a>
                    <a href="" class="footer-info-list__link">События</a></li>
            <li class="footer-info-list__item"><a href="" class="footer-info-list__link">Чтиво</a></li>
            <li class="footer-info-list__item"><a href="" class="footer-info-list__link">Данные</a>
                <a href="" class="footer-info-list__link">Стиль</a></li>
            <li class="footer-info-list__item"><a href="" class="footer-info-list__link">Советчик</a></li>
            <li class="footer-info-list__item"><a href="" class="footer-info-list__link"></a>Контакты</li>
        </ul>
        <div class="footer-info__text-wr">
            <p class="footer-info__text">Журнал Playboy издается с 2002 года. <br>
                Playboy — имя, ставшее легендой. Популярнейший во всем мире глянцевый мужской журнал появился в России в 1995 году и быстро стал самым востребованным изданием в своей категории. Playboy охватывает очень широкий тематический спектр: самые красивые женщины мира, эффектные пикториалы и эксклюзивные съемки знаменитостей, яркие фоторепортажи со светских раутов, впечатляющие рассказы о путешествиях, престижные автомобили, мужская мода и стиль жизни. Интеллектуальная проза, интервью с известными мужчинами — о бизнесе, увлечениях и отношении к жизни. Получать удовольствие, уметь находить во всем приятные стороны — эти главные жизненные ценности, пропагандируемые журналом Playboy, актуальны для мужчин во все времена. Playboy — это стильные фото и публикации о модной литературе, музыке, кино, аудиовидеоновинках, сексе, отношениях, карьере. В каждом номере — девушка месяца и галерея Playboy.
                Playboy — классический мужской life style журнал!</p>
        </div>
        <div class="footer-social">
            <div class="footer-social__wr">
            <div class="footer-social__age">18+</div>
            <p class="footer-social__copy">© 2002-2015, Playboy. <a href="" class="footer-social__link">Условия использования материалов сайта</a></p></div>
            <div class="footer-social-icon">
                <div class="footer-social-icon__img-wr"><a href=""><img src="img/footer/f.png" alt="" class="footer-social-icon__img"></a></div>
               <div class="footer-social-icon__img-wr"> <a href=""><img src="img/footer/vk.png" alt="" class="footer-social-icon__img"></a></div>
               <div class="footer-social-icon__img-wr"> <a href=""><img src="img/footer/tw.png" alt="" class="footer-social-icon__img"></a></div>
                <div class="footer-social-icon__img-wr"><a href=""><img src="img/footer/od.png" alt="" class="footer-social-icon__img"></a></div>
            </div>
            
        </div>
    </div>
        <div class="footer__sidebar">
        <div class="footer__magazine magazine">
            <a href="#" class="magazine__link"><div class="magazine__title-wr">
                <p class="magazine__title">Новый номер</p>
                <img src="img/footer/magazine_title.png" alt="" class="magazine__img magazine__img_title">
                <img src="img/footer/magazine__journal.png" alt="" class="magazine__img">
            </div></a>
        </div>
            <div class="footer__digital-magazine digital-magazine">

                    <a href=""> <div class="digital-magazine__img-wr"><img src="img/footer/zinio.png" alt="" class="digital-magazine__img"></div> </a>
                <div class="digital-magazine__text-wr"><p class="digital-magazine__text">Цифровая
                    версия журнала</p>
            </div>

            </div>

    </div>
    </div>
</section>