<section class="header">
    <div class="header__wrapper">
        <div class="header__img-wrapper">
            <figure class="header__bg"></figure>
    </div></div>
    <div class="header__wr-content">
        <div class="Nav-Bar-Header">
    <div class="MiniNavButton">
        <a href="#" class="MiniNavButton__trigger">Меню<span class="MiniNavButton__icon"></span></a>


    </div>
            <nav class="MiniNavButton__nav">
                <ul class="MiniNavButton__list">
                    <li class="MiniNavButton__item MiniNavButton__item_avatar"><a href="#" class="MiniNavButton__link MiniNavButton__link_avatar"> <div class="MiniNavButton__avatar">
                        <img src="img/header/MiniNavButton/Avatar.png" alt="" class="MiniNavButton__avatar-img"></div> </a><p class="MiniNavButton__text">Привет, Вася!</p></li>
                    <ul class="MiniNavButton__list-lvl-wr">
                        <ul class="MiniNavButton__list-lvl-item">
                    <li class="MiniNavButton__item MiniNavButton__item_title"><a href="#" class="MiniNavButton__link">Девушки</a></li>
                    <li class="MiniNavButton__item"><a href="#" class="MiniNavButton__link">Девушки с обложки</a></li>
                    <li class="MiniNavButton__item"><a href="#" class="MiniNavButton__link">Playmates</a></li>
                            <li class="MiniNavButton__item"><a href="#" class="MiniNavButton__link">Видео</a></li>
                    <li class="MiniNavButton__item"><a href="#" class="MiniNavButton__link MiniNavButton__link_Color-CyberClub">CyberClub</a></li></ul>
                        <ul class="MiniNavButton__list-lvl-item MiniNavButton__list-lvl-item_news">
                    <li class="MiniNavButton__item MiniNavButton__item_title" ><a href="#" class="MiniNavButton__link">Новости</a></li></ul>
                        <ul class="MiniNavButton__list-lvl-item">
                    <li class="MiniNavButton__item MiniNavButton__item_title"><a href="#" class="MiniNavButton__link">Чтиво</a></li>
                    <li class="MiniNavButton__item"><a href="#" class="MiniNavButton__link">Интервью</a></li>
                    <li class="MiniNavButton__item"><a href="#" class="MiniNavButton__link">Репортаж</a></li>
                    <li class="MiniNavButton__item"><a href="#" class="MiniNavButton__link">Гид</a></li>
                    <li class="MiniNavButton__item"><a href="#" class="MiniNavButton__link">Фигура</a></li>
                    <li class="MiniNavButton__item"><a href="#" class="MiniNavButton__link">Проза</a></li></ul>
                        <ul class="MiniNavButton__list-lvl-item">
                    <li class="MiniNavButton__item MiniNavButton__item_title MiniNavButton__item_title_top"><a href="#" class="MiniNavButton__link">Мужские игрушки</a></li>
                    <li class="MiniNavButton__item"><a href="#" class="MiniNavButton__link">Авто</a></li>
                    <li class="MiniNavButton__item"><a href="#" class="MiniNavButton__link">Гаджеты</a></li>
                    <li class="MiniNavButton__item"><a href="#" class="MiniNavButton__link">Часы</a></li>
                    <li class="MiniNavButton__item"><a href="#" class="MiniNavButton__link">Кухня</a></li>
                    <li class="MiniNavButton__item"><a href="#" class="MiniNavButton__link">Бар</a></li>
                    <li class="MiniNavButton__item"><a href="#" class="MiniNavButton__link">Путешествия</a></li></ul>
                        <ul class="MiniNavButton__list-lvl-item">
                    <li class="MiniNavButton__item MiniNavButton__item_title"><a href="#" class="MiniNavButton__link">Стиль</a></li>
                    <li class="MiniNavButton__item"><a href="#" class="MiniNavButton__link">Мода</a></li>
                    <li class="MiniNavButton__item"><a href="#" class="MiniNavButton__link">Практикум</a></li>
                    <li class="MiniNavButton__item"><a href="#" class="MiniNavButton__link">Несессер</a></li></ul>
                        <ul class="MiniNavButton__list-lvl-item">
                    <li class="MiniNavButton__item MiniNavButton__item_title MiniNavButton__item_title_top"><a href="#" class="MiniNavButton__link">Развлечения</a></li>
                    <li class="MiniNavButton__item"><a href="#" class="MiniNavButton__link">Тесты</a></li>
                    <li class="MiniNavButton__item"><a href="#" class="MiniNavButton__link">Анекдоты</a></li>
                    <li class="MiniNavButton__item"><a href="#" class="MiniNavButton__link">Конкурсы</a></li>
                        </ul>
                        <ul class="MiniNavButton__list-lvl-item">
                    <li class="MiniNavButton__item MiniNavButton__item_title MiniNavButton__item_title_top"><a href="#" class="MiniNavButton__link">Советчик</a></li></ul>
                            <ul class="MiniNavButton__list-lvl-item">
                    <li class="MiniNavButton__item MiniNavButton__item_title"><a href="#" class="MiniNavButton__link">Журнал</a></li></ul>
                    </ul>
                </ul>
            </nav>
            <a href="#" class="Nav-Bar-Header__logo"><img src="img/header/MiniNavButton/Logo_text.png" alt="" class="Nav-Bar-Header__logo-img"></a>
            <a href="#" class="Nav-Bar-Header__authorization"><img src="img/header/MiniNavButton/Enter.png" alt="" class="Nav-Bar-Header__authorization-img"></a>
            <form class="search">
                <input placeholder="Поиск" type="search" class="search__input">
            </form>
        </div>
    </div>

</section>